.conf-badge {
  color: white;
  padding: 3px 10px;
  border-radius: 6px;
  font-size: 0.85em;
  margin-right: 8px;
  font-weight: 600;
}

.conf-badge.neurips { background-color: #DA9333; }
.conf-badge.vldb   { background-color: #62BAC3; }
.conf-badge.iclr   { background-color: #27ae60; }
.conf-badge.sigmod    { background-color: #EF3473; }

/* publication type */
.conf-badge.proceeding { background-color: #615EAA; }