{{ $page := . }}
<div class="post-title">
  <a href="{{ $page.Permalink }}" class="post-link">
    {{ with $page.Params.badge }}
      <span class="conf-badge {{ $page.Params.badgeClass }}">{{ . }}</span>
    {{ end }}
    {{ $page.Title }}
  </a>

  {{ $displayDate := true }}
  {{ $tagsHidePostDate := or $page.Site.Params.Hidden.TagsPostDate slice }}
  {{ $postTags := or $page.Params.Tags slice }}

  {{ if gt ($tagsHidePostDate | intersect $postTags | len) 0 }}
    {{ $displayDate = false }}
  {{ end }}
</div>